html {
  /* box-sizing; border-box; */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}

*, *:before, *:after {
  box-sizing; inherit;
}
.full-width {
    width: 100%;
    display:block;
}

nav {
  background: #8D90A1;
  width: 75%;
  margin: auto;
  padding: 0 10px;
  overflow: auto;
}

nav h1 {
  font-weight: bold;
  display: inline-block;
}

nav ul {
    float: left;
}

nav li {
    display:block;
    float: left;
}

nav a:hover {
  color:white;

}

nav li:after {
  content: " | ";
  display: inline-block;
  left: 1px;
}
nav li:before {
  content:"";
  clear: both;

}

nav li:first-of-type:before {
  content: none;
}

#logo span {
  color: white;
  border: white solid 2px;
  padding: 3px;
  height: 15px;
  width: 15px;
  text-align: center;
  display: inline-block;
}
.content {
  width: 75%;
  margin: auto;
  padding: 10px;
  background: #EEF0F3;
}

.content a:hover {
    color:white;
}

.comments {
    list-style: none;
    font-size: 8pt;
    font-family: #B0B0AE;
}
.footer {
  width: 75%;
  margin: auto;
  padding: 10px;
  background: #EEF0F3;
  border-top: solid 2px;
  border-color: #8D90A1;
  font-family: Verdana;
  font-size: 8pt;
  display: block;

}

.footer ul {
    display:inline;
}

.footer li {
    display:inline-block;
    float: right;
}

.footer li:before {
    clear: both;
    content: "";
}
.footer li:after {
    display: inline-block;
    content: " | ";
}

.footer a:hover {
    color:white;
}
a {
  color: inherit;
  text-decoration: none;
}
.li-odd:nth-of-type(odd) {
  background: lightsteelblue;
}
